In [1]:
#LIBRERIAS IMPORTADAS

import pandas as pd
import numpy as np
import sqlalchemy as db
from sqlalchemy import create_engine

In [ ]:
#LEVANTANDO CONEXION A MYSQL
database_username='root' # Nombre de cliente en MySQL Workbrench
database_password='072030' # Contrase√±a de MySQL Workbrench
database_ip='localhost'
database_name='schema_proyecto01' # Nombre de Base de datos a donde nos conectaremos
database_conection=db.create_engine(f'mysql+pymysql://{database_username}:{database_password}@{database_ip}/{database_name}')
conexion=database_conection.connect()
metadata=db.MetaData()

In [19]:
#FUNCION PARA NORMALIZAR LOS ID DE LAS TABLAS
def normalizar(id):
    if(type(id)!= str):
        return id

    caracteres = len(id)
    if (len(id)< 13):
        id = '0'*(13-caracteres)+id
    if('-' in id):
        id = id[id.rfind('-')+1:caracteres]
    if ('.' in id):
        id = id[0 :id.find('.')]
    return id

def mod_id_suc (x):
    if ' 00:00:00' in x:
        x = x.replace(' 00:00:00','')
        val_1 = x.split('-')[0]
        val_2 = x.split('-')[1]
        val_3 = x.split('-')[2]
       
        x = val_3 + '-' + val_2 + '-' + val_1
    return x

*** ARCHIVO PARQUET ***

In [20]:
#LEYENDO EL ARCHIVO PARQUET
df_parquet = pd.read_parquet('producto.parquet')

In [21]:
#REVISANDO CUANTAS FILAS Y COLUMNAS TIENEN EL ARCHIVO
df_parquet.shape

(72038, 7)

In [22]:
#SACANDO LA INFORMACION DEL ARCHIVO PARA REVISAR LOS VALORES FALTANTES
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72038 entries, 0 to 72037
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            72038 non-null  object
 1   marca         72036 non-null  object
 2   nombre        72036 non-null  object
 3   presentacion  72036 non-null  object
 4   categoria1    4 non-null      object
 5   categoria2    4 non-null      object
 6   categoria3    4 non-null      object
dtypes: object(7)
memory usage: 3.8+ MB

In [23]:
#ELIMINANDO LAS COLUMNAS CON MUCHOS VALORES FALTANTES
df_parquet = df_parquet.drop(columns= ['categoria1','categoria2', 'categoria3'])

In [24]:
#VERIFICANDO DE NUEVO EL ARCHIVO
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72038 entries, 0 to 72037
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            72038 non-null  object
 1   marca         72036 non-null  object
 2   nombre        72036 non-null  object
 3   presentacion  72036 non-null  object
dtypes: object(4)
memory usage: 2.2+ MB

In [25]:
#RELLENANDO LAS CELDAS VACIAS DE MARCA, NOMBRE Y PRESENTACION CON SIN DATO
df_parquet = df_parquet.fillna('Sin Dato')

In [26]:
#VERIFICANDO DE NUEVO SI YA NO HAY CELDAS CON VALORES FALTANTES
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72038 entries, 0 to 72037
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            72038 non-null  object
 1   marca         72038 non-null  object
 2   nombre        72038 non-null  object
 3   presentacion  72038 non-null  object
dtypes: object(4)
memory usage: 2.2+ MB

In [27]:
#ELIMINANDO DUPLICADOS
df_parquet = df_parquet.drop_duplicates()

In [28]:
#VERIFICANDO SI HABIA DUPLICADOS
df_parquet.shape

(72038, 4)

In [ ]:
#LLEVANDO EL ARCHIVO PARQUET A MYSQL
df_parquet.to_sql('preciosparquet', conexion)

*** ARCHIVO JSON ***

In [30]:
#LEYENDO EL ARCHIVO JSON
df_json = pd.read_csv('precios_semana_20200503.csv')

In [31]:
#RENOMBRAMOS LAS COLUMNAS ID SUCURSAL Y PRODUCTO
df_json = df_json.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})

In [32]:
df_json.shape

(397734, 3)

In [33]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397734 entries, 0 to 397733
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   precio      397734 non-null  float64
 1   idProducto  397734 non-null  object
 2   idSucursal  397734 non-null  object
dtypes: float64(1), object(2)
memory usage: 9.1+ MB

In [34]:
#ELIMINANDO DUPLICADOS
df_json = df_json.drop_duplicates()

In [35]:
#VERIFICANDO SI HABIA DUPLICADOS
df_json.shape

(397734, 3)

In [ ]:
#LLEVANDO EL ARCHIVO JSON A MYSQL
df_json.to_sql('preciosjson_503', conexion)

*** ARCHIVO TXT ***

In [37]:
#LEYENDO EL ARCHIVO TXT
#Funcion carga incremental
def carga_incremental(rutaArchivo):
    df_txt = pd.read_csv(f'{rutaArchivo}',  sep= '|')
    #normalizacion de datos
    df_txt = df_txt.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})
    df_txt.drop_duplicates(inplace=True)
    df_txt.drop(df_txt[df_txt.idSucursal.isnull() == True].index, inplace=True)
    df_txt.precio.fillna(0.0, inplace=True)
    for i in range(1,3):
        df_txt.iloc[:,i] = df_txt.iloc[:,i].astype('string')
    database_conection = db.create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="072030",
                               db="schema_proyecto01"))
    conexion=database_conection.connect()
    df_txt.to_sql('preciostxt518', con =conexion, if_exists='append')

carga_incremental(r'C:\\Users\\kfln0\\OneDrive\\Desktop\\PROYECTO INDIVIDUAL01\\PI01_DATA_ENGINEERING\\precios_semana_20200518.csv')

*** ARCHIVO CSV SUCURSAL ***

In [98]:
#LEYENDO EL ARCHIVO CSV
df_sucsv= pd.read_csv('sucursal.csv')

In [99]:
df_sucsv.shape

(2333, 12)

In [100]:
df_sucsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333 entries, 0 to 2332
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2333 non-null   object
 1   comercioId           2333 non-null   int64
 2   banderaId            2333 non-null   int64
 3   banderaDescripcion   2333 non-null   object
 4   comercioRazonSocial  2333 non-null   object
 5   provincia            2333 non-null   object
 6   localidad            2333 non-null   object
 7   direccion            2333 non-null   object
 8   lat                  2333 non-null   float64
 9   lng                  2333 non-null   float64
 10  sucursalNombre       2333 non-null   object
 11  sucursalTipo         2333 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 218.8+ KB

In [101]:
#ELIMINANDO DUPLICADOS
df_sucsv = df_sucsv.drop_duplicates()

In [102]:
df_sucsv.shape

(2333, 12)

In [ ]:
#LLEVANDO EL ARCHIVO CSV SUCURSAL A MYSQL
df_sucsv.to_sql('preciossucursal', conexion)

*** ARCHIVO CSV 413 ***

In [38]:
df_413csv = pd.read_csv('precios_semana_20200413.csv')

In [39]:
#RENOMBRAMOS LAS COLUMNAS ID SUCURSAL Y PRODUCTO
df_413csv = df_413csv.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})

In [40]:
df_413csv.shape

(472166, 3)

In [41]:
df_413csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 472166 entries, 0 to 472165
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   precio      472153 non-null  float64
 1   idProducto  472151 non-null  object
 2   idSucursal  472151 non-null  object
dtypes: float64(1), object(2)
memory usage: 10.8+ MB

In [107]:
df_413csv.isnull().sum()

precio         13
producto_id    15
sucursal_id    15
dtype: int64

In [108]:
#ELIMINANDO FILAS CON TODOS LOS VALORES FALTANTES
df_413csv = df_413csv.dropna()

In [109]:
df_413csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 472151 entries, 0 to 472165
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   precio       472151 non-null  float64
 1   producto_id  472151 non-null  object
 2   sucursal_id  472151 non-null  object
dtypes: float64(1), object(2)
memory usage: 14.4+ MB

In [110]:
#ELIMINANDO DUPLICADOS
df_413csv = df_413csv.drop_duplicates()

In [111]:
df_413csv.shape

(472131, 3)

In [ ]:
#LLEVANDO EL ARCHIVO CSV  A MYSQL
df_413csv.to_sql('precioscsv_413', conexion)

*** ARCHIVO EXCEL ***

In [42]:
df_excel = pd.read_csv('precios_semanas_20200419_20200426.csv')

C:\Users\kfln0\AppData\Local\Temp\ipykernel_10372\3354324206.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_excel = pd.read_csv('precios_semanas_20200419_20200426.csv')

In [43]:
#RENOMBRAMOS LAS COLUMNAS ID SUCURSAL Y PRODUCTO
df_excel= df_excel.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})

In [44]:
df_excel.shape

(937453, 3)

In [45]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937453 entries, 0 to 937452
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   precio      933910 non-null  object
 1   idSucursal  937453 non-null  object
 2   idProducto  923934 non-null  object
dtypes: object(3)
memory usage: 21.5+ MB

In [116]:
df_excel.isnull().sum()

precio          3543
sucursal_id        0
producto_id    13519
dtype: int64

In [117]:
#RELLENANDO LOS VALORES FALTANTES DE PRECIO
df_excel['precio'] = df_excel['precio'].fillna(method= 'ffill')

In [118]:
df_excel.isnull().sum()

precio             0
sucursal_id        0
producto_id    13519
dtype: int64

In [119]:
#RELLENANDO LOS VALORES FALTANTES DE PRODUCTO ID
df_excel['producto_id'] = df_excel['producto_id'].fillna(method= 'ffill')

In [120]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937453 entries, 0 to 937452
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   precio       937453 non-null  object
 1   sucursal_id  937453 non-null  object
 2   producto_id  937453 non-null  object
dtypes: object(3)
memory usage: 21.5+ MB

In [121]:
#ELIMINANDO DUPLICADOS
df_excel = df_excel.drop_duplicates()

In [122]:
df_excel.shape

(599400, 3)

In [ ]:
#LLEVANDO EL ARCHIVO EXCEL A MYSQL
df_excel.to_sql('preciosxlsx', conexion)

In [33]:
#PARA CERRAR SESION EN Mysql
conexion.close()